@font-face{font-family:"fira-sans-ot";
  src:url("../regular/firasansot-regular-webfont.eot");
  src:url("../regular/firasansot-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../regular/firasansot-regular-webfont.woff") format("woff"),
    url("../regular/firasansot-regular-webfont.ttf") format("truetype"),
    url("../regular/firasansot-regular-webfont.svg#fira_sans_otregular") format("svg");
font-weight:400; font-style:normal}

@font-face{font-family:"fira-sans-ot";
  src:url("../bold/firasansot-bold-webfont.eot");
  src:url("../bold/firasansot-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../bold/firasansot-bold-webfont.woff") format("woff"),
    url("../bold/firasansot-bold-webfont.ttf") format("truetype"),
    url("../bold/firasansot-bold-webfont.svg#fira_sans_otbold") format("svg");
font-weight:700; font-style:normal}

@font-face{font-family:"fira-sans-ot";
  src:url("../italic/firasansot-regularitalic-webfont.eot");
  src:url("../italic/firasansot-regularitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../italic/firasansot-regularitalic-webfont.woff") format("woff"),
    url("../italic/firasansot-regularitalic-webfont.ttf") format("truetype"),
    url("../italic/firasansot-regularitalic-webfont.svg#fira_sans_otitalic") format("svg");
font-weight:400; font-style:italic}

@font-face{font-family:"fira-sans-ot";
  src:url("../bold-italic/firasansot-bolditalic-webfont.eot");
  src:url("../bold-italic/firasansot-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../bold-italic/firasansot-bolditalic-webfont.woff") format("woff"),
    url("../bold-italic/firasansot-bolditalic-webfont.ttf") format("truetype"),
    url("../bold-italic/firasansot-bolditalic-webfont.svg#fira_sans_otbold_italic") format("svg");
font-weight:700; font-style:italic}

@font-face{font-family:"fira-sans-ot";
  src:url("../light/firasansot-light-webfont.eot");
  src:url("../light/firasansot-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("../light/firasansot-light-webfont.woff") format("woff"),
    url("../light/firasansot-light-webfont.ttf") format("truetype"),
    url("../light/firasansot-light-webfont.svg#fira_sans_otlight") format("svg");
font-weight:200; font-style:normal}

@font-face{font-family:"fira-sans-ot";
  src:url("../light-italic/firasansot-lightitalic-webfont.eot");
  src:url("../light-italic/firasansot-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../light-italic/firasansot-lightitalic-webfont.woff") format("woff"),
    url("../light-italic/firasansot-lightitalic-webfont.ttf") format("truetype"),
    url("../light-italic/firasansot-lightitalic-webfont.svg#fira_sans_otlight_italic") format("svg");
font-weight:200; font-style:italic}

@font-face{font-family:"fira-sans-ot";
  src:url("../medium/firasansot-medium-webfont.eot");
  src:url("../medium/firasansot-medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("../medium/firasansot-medium-webfont.woff") format("woff"),
    url("../medium/firasansot-medium-webfont.ttf") format("truetype"),
    url("../medium/firasansot-medium-webfont.svg#fira_sans_otmedium") format("svg");
font-weight:500; font-style:normal}

@font-face{font-family:"fira-sans-ot";
  src:url("../medium-italic/firasansot-mediumitalic-webfont.eot");
  src:url("../medium-italic/firasansot-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../medium-italic/firasansot-mediumitalic-webfont.woff") format("woff"),
    url("../medium-italic/firasansot-mediumitalic-webfont.ttf") format("truetype"),
    url("../medium-italic/firasansot-mediumitalic-webfont.svg#fira_sans_otmedium_italic") format("svg");
font-weight:500; font-style:italic}